/* Define the background image for the main section */
.bg-image {
  background-image: url('assets/Rectangle 74.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Style the card */
.card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  margin: 0 auto;
}
.card-title{
  font-size: 24px;
}
.form-control::placeholder{
  color: green;
  outline: none;
}

.container {
  height: 100%;
}

/* Add responsive padding to the card */
.card-body {
  padding: 20px;
}

.buttons {
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  color: white;
}

.btnOne {
  padding: 12px 60px;
  background-color: #E84945;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 500;
  box-shadow: none;
}
.btnTwo {
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 500;
  padding: 12px 60px;
  background-color: #05C94D;
  border-radius: 5px;
  box-shadow: none;
}


#role {
  box-shadow: none;
  outline: none;
}
#user {
  box-shadow: none;
  outline: none;
}
button{
  border: none;
  box-shadow: none;
  outline: none;
}